<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>A couple of articles I wrote about things I like. </p>
    <p>(And during my short carrier as a content writer.) </p>
    <h4>Topics:</h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  <%= source_helper("alert alert-info blog-sidebar-source") %>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/BjMrq"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/bjmrq"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.linkedin.com/in/benjamin-marquis-6956b367/?locale=en_US"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>
