<div class="collapse" id="courses">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/rails_5.png', width: '100%' %>
                  <%= link_to "Dissecting Rails 5", root_path %>
                </div>
                <div class="col-md-4">
                  <%= image_tag 'about/ruby.png', width: '100%' %>
                  <%= link_to "Angular + Rails", "https://www.udemy.com/angular-on-rails-course/", target: '_blank' %>
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag 'about/javascript.png', width: '100%' %>
                  <%= link_to "Professional Rails Code Along", "https://www.udemy.com/professional-ruby-on-rails-coding-course/", target: '_blank' %>
                </div>
              </div>
            </div>
          </div>
